<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpringBoot-WebSocket:客服端</title>
    <link rel="stylesheet" type="text/css" href="../static/css/comm.css" />
    <script src="../static/js/comm.js"></script>

    <style>

        *{
            margin: 0px;
            padding: 0px;
            font-family: '微软雅黑';
        }
        body{
            width: 100%;
            height: 100%;
        }
        #canvas{
            position: absolute;
        }
    </style>
</head>
<body>
    <div class="flex-column mx-start sx-stretch" style="width:100%;height: 100%;">
        <div style="flex: 0 0 auto;height: 35px;">A</div>
        <div style="flex: 0 0 auto;height: 35px;">B</div>
        <div style="flex: 0 0 auto;height: 35px;">C</div>
        <div class="flex-txt-center" style="flex: 0 0 auto;height: 35px;">
            <H3>欢迎进入直播间...</H3>
        </div>
        <div class="flex-row mx-evenly sx-start" style="flex: 0 0 auto;height: 35px;">
            <div style="flex: 0 0 auto;">当前在线人数：99</div>
            <div style="flex: 0 0 auto;"><a href="javaScript;">退出直播间</a></div>
        </div>
        <div class="flex-txt-center" style="flex: 0 0 auto;height: 35px; height: 360px;">
                <canvas id="canvas"></canvas>
                <video id="video" width="800px;" height="330;" src="../static/video/video_text.mp4" controls></video>
        </div>
        <div class="flex-row mx-center sx-center" style="flex: 0 0 auto;height: 45px; border: 1px solid red;">
            <div style="flex: 0 0 auto;margin-left: 10px;">
                <input type="text" id="text"/>
            </div>
            <div style="flex: 0 0 auto;margin-left: 10px;">
                <button id="btn">发送弹幕</button>
            </div>
            <div style="flex: 0 0 auto;margin-left: 10px;">
                <input type="color" id="color" />
            </div>
        </div>
    </div>

    <script type="text/javascript">
        /**
         * 弹幕数据
         * value:弹幕值，
         * speed:弹幕前进速度，
         * time:弹幕出现时间，
         * color：弹幕颜色，
         * fontSize：字体大小
         */
        let data = [
            {value:'测试弹幕1',speed:2,time:1,color:'red',fontSize:20},
            {value:'太好听',time: 2},
            {value:'ilil',time: 3},
            {value:'完美',time: 4},
            {value:'爱了爱了',time: 5},
            {value:'测试弹幕',time: 6},

        ]

        let $ = document.querySelector.bind(document);
        let canvas = $('#canvas');
        let video = $('#video');
        let socket = new WebSocket('ws://127.0.0.1:8091/spring-ws/ws/asset');


        class Barrage {
            constructor(obj,ctx) {
                this.value = obj.value; // 这是弹幕内容
                this.time = obj.time;   // 这是弹幕时间 在视频的多少时长时进行渲染
                this.obj = obj;
                this.ctx = ctx;
            }

            /**
             *  弹幕初始化
             */
            init(){
                this.opacity = this.obj.opacity || this.ctx.opacity;
                this.color = this.obj.color || this.ctx.color;
                this.fontSize = this.obj.fontSize || this.ctx.fontSize;
                this.speed = this.obj.speed || this.ctx.speed;

                // 求出自己本身宽度，用于校检是否继续绘制 利用span来显示弹幕的宽度
                let span = document.createElement('span');
                span.innerText = this.value;
                span.style.font = this.fontSize + 'px "Microsoft YaHei" ';
                span.style.position = 'absolute';
                document.body.appendChild(span);
                // 记录弹幕宽度
                this.width = span.clientWidth;
                document.body.removeChild(span);

                // 弹幕出现位置
                this.x = this.ctx.canvas.width;
                // 随机出现在y轴
                this.y = this.ctx.canvas.height * Math.random();

                // 如果y轴位置小与当前字体大小 那么Y轴位置就是当前字体大小位置，目的：防止弹幕不完整性,也就是显示一半
                if(this.y < this.fontSize){
                    this.y = this.fontSize;
                }

                // 当前画布高度减去字体大小 小于当前Y轴的位置话，则当前y轴 = (画布高度 - 字体大小)
                if(this.y > (this.ctx.canvas.height - this.fontSize)){
                    this.y = (this.ctx.canvas.height - this.fontSize);
                }
            }

            /**
             * 渲染自己 将自己绘制在画布上
             */
            render(){
                // 设置字体样式
                this.ctx.context.font = this.fontSize + 'px "Microsoft YaHei" ';
                // 当前弹幕透明度
                // 颜色
                this.ctx.context.fillStyle = this.color;
                // 将弹幕绘制在画布上
                this.ctx.context.fillText(this.value,this.x,this.y);
            }
        }

        class CanvasBarrage {
            // 弹幕渲染 需要传入canvas 与 video 弹幕内容
            constructor(canvas,video,options = {}) {
                if(!canvas || !video){
                    return;
                }

                // 给本身添加 canvas 与 video
                this.canvas = canvas;
                this.video = video;

                // 默认值 默认情况下弹幕具有一些默认属性 比如字体,颜色 弹幕加载速度,弹幕阴影
                let defaultOptions = {
                    fontSize:20,    // 字体大小
                    color:'gold',   // 字体颜色
                    speed:2,        // 速度
                    opacity:0.3,    // 阴影透明度
                    data:[]
                }

                // 对象的合并，将属性全部挂载到实例上
                Object.assign(this,defaultOptions,options);

                // 获取 canvas 画布
                this.context = canvas.getContext('2d');

                // 设置画布宽高
                this.canvas.width = this.video.clientWidth;
                this.canvas.height = this.video.clientHeight;

                // 视频是否播放
                this.isPaused = true;   // 默认暂停播放，表示不渲染弹幕

                // 存放所有弹幕, Barrage是创造弹幕的实例类
                this.barrages = this.data.map(obj => new Barrage(obj,this));

                // 渲染弹幕
                this.render();
            }


            /**
             * 渲染弹幕
             */
            renderBarrage(){
                // 将数组中的弹幕一个一个取出，判断时间和视频时间是否符合，符合就执行渲染此弹幕
                // 当前弹幕时间
                let videoTime = this.video.currentTime;
                this.barrages.forEach(barrage => {
                    // 当前video 时间 大于等于弹幕时间则此弹幕出现
                    if(!barrage.flag && videoTime >= barrage.time){

                        // 弹幕初始化 初始化后进行绘 如果没有初始化则先进行初始化操作
                        if(!barrage.isInited){
                            barrage.init();
                            barrage.isInited = true;
                        }

                        barrage.x -= barrage.speed;
                        barrage.render(); // 渲染自己

                        if(barrage.x < barrage.width * -1){
                            barrage.flag = true; // 停止渲染
                        }
                    }
                })
            }

            /**
             * 渲染弹幕
             */
            render(){
                // 第一次先清空画布，执行渲染弹幕，如果没有暂停则继续渲染
                this.context.clearRect(0,0,this.canvas.width,this.canvas.height);

                // 渲染弹幕
                this.renderBarrage();

                if(!this.isPaused){
                    // 通过动画递归渲染弹幕
                    requestAnimationFrame(this.render.bind(this));
                }

            }

            /**
             * 添加弹幕
             * @param obj
             */
            add(obj){
                this.barrages.push(new Barrage(obj,this));
            }

            reset(){
                // 首先要进行画布清空
                this.context.clearRect(0,0,this.canvas.width,this.canvas.height);
                // 弹幕重置 当前视频进度移动后获得当前视频时间
                let time = this.video.currentTime;
                this.barrages.forEach(barrage => {
                    barrage.flag = false;
                    // 重新初始化 其他弹幕不在继续渲染
                    time <= barrage.time ? barrage.isInited = false : barrage.flag = true;
                })

            }

        }

        let canvasBarrage = new CanvasBarrage(canvas,video,{data});

        video.addEventListener('play',() => {
                canvasBarrage.isPaused = false;
                canvasBarrage.render();
        });
        video.addEventListener('pause',() => {
            canvasBarrage.isPaused = true;
        });

        $('#btn').addEventListener('click',() => {
            let value = $('#text').value;
            let color = $('#color').value;
            // 当前视频时间
            let time = video.currentTime;
            if(trim(value) === null || trim(value) === ''){
                alert('弹幕内容不能为空哦~');
                return;
            }
            // 重置输入框
            $('#text').value = '';

            // 封装弹幕对象
            let  obj = {time,value,color};

            // 发送WebSocket请求到后端
            if(typeof (WebSocket) == 'undefined'){
                console.log('您的浏览器不支持WebSocket');
                return;
            }

            /**
             * 客户端连接服务端
             * e:服务端返回消息
             */
            socket.onopen = (e) => {
                // 发送消息前要确保连接处于打开状态
                // console.log(socket.readyState)
                socket.send("客户端发送消息");
                console.log('连接成功');
                console.log(e);
            }


            socket.onmessage = (e) =>{
                console.log(e);
            }

            // 添加弹幕
            canvasBarrage.add(obj);
        });

        /**
         * 视频进度拖动事件
         */
        video.addEventListener('seeked',() =>{
            canvasBarrage.reset();
        })






    </script>
</body>
</html>